body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://media.discordapp.net/attachments/935622895009407009/1433718975451234344/image.png?ex=6905b658&is=690464d8&hm=0cdafc74432ee70f7a2a9ef586125df3c478906dc9367e67e49245be86e39bf0&=&format=webp&quality=lossless&width=1920&height=1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}